/* DEBUT IMPORTANT */

#canvasContainer {
    background-color: white;
}

#canvasContainer canvas {
    max-width: 90vw;
    max-height: 90vw;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, .75);
}

/* FIN IMPORTANT */

.buyContainer {
    width: 600px;
    height: 600px;
    max-width: 90vw;
    max-height: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#buy {
    width: 3em;
    height: 3em;
    position: absolute;
    left: 50%;
    bottom: -1.5em;
    transform: translateX(-50%) rotate(0deg);
    transition: all 1s ease-in-out;
    background-color: white;
    color: color;
    font-size: 1.5em;
    line-height: 2.7em;
    text-align: center;
    border-radius: 1.5em;
    border: 3px black solid;
}

    #buy:hover {
        background-color: black;
        color: white;
        transform: translateX(-50%) rotate(360deg);
    }
